{% extends "Wrapper.twig" %}

{% block content %}
<div id="content">

    {% embed "/components/hero.twig" %}
    {% endembed %}

    {% embed "/components/clients.twig" %}
    {% endembed %}>

    {% embed "/components/about.twig" %}
    {% endembed %}

    {% embed "/components/why_us.twig" %}
    {% endembed %}

    {% embed "/components/skills.twig" %}
    {% endembed %}

    {% embed "/components/services.twig" %}
    {% endembed %}

    {% embed "/components/cta.twig" %}
    {% endembed %}

    {% embed "/components/portfolio.twig" %}
    {% endembed %}

    {% embed "/components/team.twig" %}
    {% endembed %}

    {% embed "/components/pricing.twig" %}
    {% endembed %}

    {% embed "/components/faq.twig" %}
    {% endembed %}

    {% embed "/components/contact.twig" %}
    {% endembed %}
  </div>
{% endblock %}
